.container{
  /*max-width: 1000px;*/
  width: 100%:
  height: 100%
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
}

body, html {
    height: 100%;
    margin: 0;
}

body{
  background-color: #000000;
}
.llamaPar {
    background: transparent;
    background-position: center;
    height: 800px;
    max-width: 300;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
  float: right;
  text-align: left;
  font-size: 60px;
  margin-right: 400px;
  margin-top: 100px;
}



h1{
  text-align: center;
}

.slWrap {
color: #ffffff;
font-size: 20px;
letter-spacing: 20px;
  position: absolute;
 top: 0;
 left: 0;
 z-index: 10;
  float:left;
    margin-right: 30px;
    margin-top: 70px;
    margin-left: 150px;
}

.left{
  position: relative;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2px;
   top: 0;
   left: 0;
   z-index: 10;
    float:left;
      margin-right: 30px;
      margin-top: 350px;
      margin-left: 150px;
}

.bottom{
  position: relative;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2px;
   top: 0;
   left: 0;
   z-index: 10;
    float:left;
      margin-right: 30px;
      margin-top: 210px;
      margin-left: 150px;
}

.right{
  position: relative;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2px;
   top: 0;
   left: 0;
   z-index: 10;
    float:left;
      margin-left: 800px;
      margin-top: 350px;
}

.rightS{
  position: relative;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2px;
   top: 0;
   left: 0;
   z-index: 10;
    float:left;
      margin-left: 700px;
      margin-top: 400px;
}

span.highlight {
    background-color: gray;
    opacity: 0.6;
}

.shinyLink {
	position: relative;
	display: block;
	background: none center center no-repeat;
  background-color: #000000;
  opacity: 0.6;
	background-size: cover;
	border: 2px solid #2e2e2e;
	padding: 20px 15px;
	max-width: 270px;
	min-width: 200px;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: border 1s cubic-bezier(0.19,1,.22,1),color .6s cubic-bezier(0.19,1,.22,1);
	transition: border 1s cubic-bezier(0.19,1,.22,1), color .6s cubic-bezier(0.19,1,.22,1), background 5s cubic-bezier(0.19,1,.22,1);
}

.shinyLink a {
	color: #969696;
	font-family: 'Varela Round';
	text-decoration: none;
}

.shinyLink .cov {
	position: absolute;
	display: block;
	width: 600px;
	height: 90px;
	-webkit-transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
	transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
	-webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
	transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}


.shinyLink:hover {
	border-color: #fff;
	box-shadow: 0 0 5px rgba(255,245,245,0.8);
}


.shinyLink:hover .cov {
	background: #fff;
	-webkit-transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
	transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
}
